@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  background-color: teal;
  color: white;
  font-family: sans-serif;
}


h1 {
  font-family: Orbitron;
  text-align: center;
  font-size: 4em;
  text-shadow: black 0 5px;
}

header {
  padding-bottom: 30px;
}

a {
  font-family: Orbitron;
  color: white;
  text-decoration: none;
}

a:hover {
  hover: pointer;
}

/* NEW GAME MENU*/

.menu-options {
  margin-left: auto;
  margin-right: auto;
}

.menu-option-box {
  padding: 1em 2em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;

  border-style: solid;
  border-color: white;
}

.menu-option-box:hover {
  background-color: #00B3B3;
}


/* CLASS ELEMENTS */



.game {
  display: block;
  text-align: center;
}


.hearts {
  letter-spacing: 3px;

}

.timer {
  float: right;
}

.light-bulb, .hearts {
  font-family: memoryicons;
}



.game-box {
  position: relative;
  width:15%;
  background-color: #00B3B3;
  border-radius: 0.5em;
  box-sizing: border-box;
  border: none;
  overflow: auto;
  display: inline-block;
}


.game-box:before {
  content:"";
  width: 0;
  padding-top: 100%;
  float: left;
}

.game-box:after {
  content:"";
  width: 100%;
  display: inline-block;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 2em;
  font-family: memoryicons;
  opacity: 0;
}

.game-box-click:checked + .icon{
  visibility: visible;
  opacity: 1;
}

.game-box-click {
  /*position: absolute;*/
  opacity: 0;
}



.game-box:hover {
  background-color: #00CCCC;
  cursor: pointer;
}


/*.example {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}*/



 /*HARD MODE */

 .game-box-hard {
   position: relative;
   width:10%;
   background-color: #00B3B3;
   border-radius: 0.5em;
   box-sizing: border-box;
   border: none;
   overflow: auto;
   display: inline-block;
 }

 .game-box-hard:before {
   content:"";
   width: 0;
   padding-top: 100%;
   float: left;
 }

 .game-box-hard:after {
   content:"";
   width: 100%;
   display: inline-block;
 }

 .game-box-hard:hover {
   background-color: #00CCCC;
   cursor: pointer;
 }

 .new-game-menu {
   width: 220px;
   margin-left: auto;
   margin-right: auto;

 }




/* NEW GAME MENU STYLING*/

.new-game-container {
  margin: auto;
  width: 600px;
  text-align: center;

  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}



@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}



#new-game-body {
  animation-name: colorchange;
  -webkit-animation-name: colorchange;

  animation-duration: 3s;
  -webkit-animation-duration: 3s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {
    background-color: #009999;
  }
  50% {
    background-color: teal;
  }
  100% {
    background-color: #009999;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-color: #009999;
  }
  50% {
    background-color: teal;
  }
  100% {
    background-color: #009999;
  }
}
